@tailwind base;
@tailwind components;
@tailwind utilities;

nav > a.active {
    @apply font-bold
}

body {
    font-family: 'DM Sans', Helvetica, sans-serif;
}

.no-transition * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}